.footballer-data {
  background-color: lightblue;
  font-weight: bold;
  border-right: 1px solid currentColor;

}

td:hover:not(.footballer-data):not(.empty-cell) {
    background-color: lightsalmon;
}
